
 
body {
	overflow:scroll;
	overflow-y:hidden;
} 
 
 .main{
	text-align: center;
	/* background-color: #d39b9b; */
	border-radius: 20px;
	width: 450px;
	height: 500px;
	position: absolute;
	left: 50%;
	top: 42%;
	transform: translate(-50%,-50%);
}



#main2{
	text-align: center;
	/* background-color: #d39b9b; */
	border-radius: 20px;
	width: 450px;
	height: 500px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-49.2%,-48%);
}

#main3{
	text-align: center;
	/* background-color: #d39b9b; */
	border-radius: 20px;
	width: 450px;
	height: 500px;
	position: absolute;
	left: -10%;
	top: 100%;
	transform: translate(-50%,-50%);
}

#main4{
	text-align: center;
	background-color:rgba(135, 135, 135, 70%);
	border-radius: 10px;
	width: 350px;
    height: 200px;
	position: absolute;
	left: 125%;
    top: 50%;
    font-family: Arial;
    color:#000000;
	transform: translate(-50%,-50%);
}

#bg{

    height: 100%;
    top:0;
    left:0;
    right:0;
    bottom:0;

}


#button1 {
	box-shadow: 0px 4px 3px 0px #bdbdbd;
	background-color:#000000;
	border-radius:5px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:22px;
	font-weight:bold;
    padding:11px 110px;
    position: absolute;
	left: 50%;
	top: 70%;
	transform: translate(-50%,-50%);
}
#button1:hover {
    background-color:#3b3b3b;
    border:1px solid #3b3b3b;
}



