body {
	overflow:scroll;
    overflow-y:hidden;
    overflow-x:hidden;
} 

#txt{
	text-align: center;
	background-color:rgba(203, 202, 202, 70%);
	position: absolute;
	left: 50%;
    top: 45%;
    font-family: Arial;
    color:#000000;
	transform: translate(-50%,-50%);
}
  #arrow2:hover {
  opacity: 0.3;
} 
#bgbl{
    height: 100%;
    background-color: black;
    top:0;
    left:0;
    right:0;
	bottom:0;
	position: absolute;
}
#bgbl{   
    animation:bg1 1.8s;
    -webkit-animation:bg1 1.8s; 
    -webkit-animation-play-state:paused;
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes bg1 {
	0% {top:1300px;}
	to {top:0;}
}
#box1{
	text-align: center;
	width: 2000px;
    height: 100px;
	position: absolute;
	left: 20%;
    top: 30%;
    font-family: Arial;
    font-size:62px ;
    color:rgb(255, 255, 255);
	transform: translate(-50%,-50%);
}
#box1{   
    animation:da1 4s;
    -webkit-animation:da1 4s; 
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes da1 {
    0% {top:40%; opacity: 0;}
    40% {top:40%; opacity: 0;}
	to {top:30%; opacity: 1;}
}
#arrow3{
	width: 350px;
	height: 350px;
    position: absolute;
	left: 71%;
	top: 580%;
	transform: translate(-50%,-50%);
}
  #arrow3:hover {
  opacity: 0.3;
} 
#box2{
	text-align: center;
	width: 2000px;
    height: 100px;
	position: absolute;
	left: 56%;
    top: 48%;
    font-family: Arial;
    font-size:62px ;
    color:red;
	transform: translate(-50%,-50%);
}

#p01:hover {
    opacity: 0.3;
} 
#p02:hover {
    opacity: 0.3;
} 
#p03:hover {
    opacity: 0.3;
}
#p04:hover {
    opacity: 0.3;
} 
#p05:hover {
    opacity: 0.3;
} 
#p06:hover {
    opacity: 0.3;
} 
#p07:hover {
    opacity: 0.3;
} 
#p08:hover {
    opacity: 0.3;
} 
#p09:hover {
    opacity: 0.3;
}
#p10:hover {
    opacity: 0.3;
}
#p11:hover {
    opacity: 0.3;
}
#p12:hover {
    opacity: 0.3;
}
#p13:hover {
    opacity: 0.3;
}
#p14:hover {
    opacity: 0.3;
}
#p15:hover {
    opacity: 0.3;
}
#p16:hover {
    opacity: 0.3;
}
#p17:hover {
    opacity: 0.3;
}
#p18:hover {
    opacity: 0.3;
}
#p19:hover {
    opacity: 0.3;
}
#p20:hover {
    opacity: 0.3;
} 
#p21:hover {
    opacity: 0.3;
} 
#p22:hover {
    opacity: 0.3;
} 
#p23:hover {
    opacity: 0.3;
} 
#p24:hover {
    opacity: 0.3;
} 
#p25:hover {
    opacity: 0.3;
} 
#p26:hover {
    opacity: 0.3;
} 
#p27:hover {
    opacity: 0.3;
}
#p28:hover {
    opacity: 0.3;
}   
#p29:hover {
    opacity: 0.3;
}   
#p30:hover {
    opacity: 0.3;
}   
#p31:hover {
    opacity: 0.3;
}
#p32:hover {
    opacity: 0.3;
}  
#letter:hover {
    width:52%; 
}         
    