body {
	overflow:scroll;
	overflow-y:hidden;
} 
#p01{   
    animation:an01 2s;
    -moz-animation:an01 2s; /* Firefox */
    -webkit-animation:an01 2s; /* Safari and Chrome */
    -o-animation:an01 2s; /* Opera */
    animation-iteration-count:1;/*动画只执行一次*/
    -moz-animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    -o-animation-iteration-count:1;
    animation-fill-mode: forwards; /*让动画停留在最后一帧 */
    -moz-animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 
	-o-animation-fill-mode: forwards;	
}
