body {
	overflow:scroll;
    overflow-y:hidden;
    overflow-x:hidden;
} 
#block{
    height: 100%;
    width: 100%;
    background-color: black;
    top:0;
    left:40%;
    right:0;
	bottom:0;
    position: absolute;
}
#blockb{
    height: 100%;
    width: 100%;
    background-color: black;
    top:0;
    left:40%;
    right:0;
	bottom:0;
    position: absolute;
}
#txt1{   
    animation:txt1 2s;
    -webkit-animation:txt1 2s; 
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes txt1 {
    0% {top:25%;opacity: 0;}
    70% {top:25%;opacity: 0;}
	to {top:14%;opacity: 1;}
}
#why:hover {
    opacity: 0.3;
}
#why{   
    animation:why 2s;
    -webkit-animation:why 2s; 
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes why {
    0% {top:120%;}
    70% {top:120%;}
	to {top:66%;}
} 
#r01{   
    animation:r01 2s;
    -webkit-animation:r01 2s; 
    -webkit-animation-play-state:paused;
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes r01 {
    0% {opacity: 1;}
    50% {opacity: 1;}
	to {opacity: 0.2;}
}
#txt2{   
    animation:txt2 0.8s;
    -webkit-animation:txt2 0.8s; 
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes txt2 {
	0% {top:35%;opacity: 0;}
	to {top:15%;opacity: 1;}
}
#gs{   
    animation:gs 2s;
    -webkit-animation:gs 2s; 
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes gs {
    0% {opacity: 0;}
    50% {opacity: 0;}
	to {opacity: 1;}
}
#lmap{   
    animation:lmap 2s;
    -webkit-animation:lmap 2s; 
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes lmap {
    0% {opacity: 0;}
    50% {opacity: 0;}
	to {opacity: 1;}
}
#txt3{   
    animation:txt3 0.7s;
    -webkit-animation:txt3 0.7s; 
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes txt3 {
	0% {top:30%;opacity: 0;}
	to {top:14%;opacity: 1;}
}
#block2{   
    animation:block2 2s;
    -webkit-animation:block2 2s; 
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes block2 {
    0% {left:90%;opacity: 0;}
    50% {left:90%;opacity: 0;}
	to {left:72%;opacity: 1;}
}
#others:hover {
    opacity: 0.3;
} 
#blockb{   
    animation:blockb 2s;
    -webkit-animation:blockb 2s; 
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes blockb {
    0% {left:40%;}
	to {left:0%;}
}
#block{   
    animation:block 1.2s;
    -webkit-animation:block 1.2s; 
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes block {
    0% {left:100%;}
	to {left:40%;}
}
#block3{
    height: 100%;
    width: 30%;
    background-color: #131313;
    top:0;
    left:100%;
    right:0;
	bottom:0;
    position: absolute;
}
#block3{   
    animation:block3 1.2s;
    -webkit-animation:block3 1.2s; 
    -webkit-animation-play-state:paused;
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes block3 {
    0% {left:100%;}
	to {left:70%;}
}
#bcross1{
    height: 100%;
    width: 70%;
    top:0;
    left:0%;
    right:0;
	bottom:0;
    position: absolute;
}
#line1{
    height: 0.4%;
    width: 10%;
    top:16%;
    left:63%;
    right:0;
    bottom:0;
    background-color:#E62281;
    position: absolute;
}
#line1{   
    animation:line1 4s;
    -webkit-animation:line1 4s; 
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes line1 {
    0% {width: 0%;}
    80% {width: 0%;}
	to {width: 10%;}
}
#map{   
    animation:map 3s;
    -webkit-animation:map 3s; 
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes map {
    0% {opacity: 0;}
    30% {opacity: 0;}
	to {opacity: 1;}
}
#bcross1{   
    animation:bcross1 3s;
    -webkit-animation:bcross1 3s; 
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes bcross1 {
    0% {opacity: 0;}
    30% {opacity: 0;}
	to {opacity: 1;}
}
#result:hover {
    opacity: 0.3;
} 
#result{   
    animation:result 5s;
    -webkit-animation:result 5s; 
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes result {
    0% {top:120%;}
    70% {top:120%;}
	to {top:82%;}
}
#children{
	width: 100%;
    position: absolute;
	left: 55%;
	top: 50%;
	transform: translate(-50%,-50%);
}

#gens01{   
    animation:gens01 4s;
    -webkit-animation:gens01 4s; 
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes gens01 {
    0% {top:120%;}
    50% {top:120%;}
	to {top:12%;}
}
#gens0{   
    animation:gens0 4s;
    -webkit-animation:gens0 4s; 
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes gens0 {
    0% {top:136%;}
    50% {top:136%;}
	to {top:28%;}
}
#gens02{   
    animation:gens02 4s;
    -webkit-animation:gens02 4s; 
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes gens02 {
    0% {top:159%;}
    50% {top:159%;}
	to {top:51%;}
}
#gens01b{   
    animation:gens01b 3s;
    -webkit-animation:gens01b 3s; 
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes gens01b {
    0% {top:12%;}
	to {top:-160;}
}
#gens0b{   
    animation:gens0b 3s;
    -webkit-animation:gens0b 3s; 
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes gens0b {
    0% {top:28%;}
	to {top:-144;}
}
#gens02b{   
    animation:gens02b 3s;
    -webkit-animation:gens02b 3s; 
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes gens02b {
    0% {top:51%;}
	to {top:-121;}
}
/* #gender01b{
	width: 25%;
    height: 90%;
    position: absolute;
	left: 83%;
	top: 45%;
	transform: translate(-50%,-50%);
}
#gender01b{   
    animation:gender01b 3s;
    -webkit-animation:gender01b 3s; 
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes gender01b {
    0% {top:45%;}
	to {top:-50%;}
} */
#gender02{
	width: 25%;
    height: 90%;
    position: absolute;
	left: 83%;
	top: 45%;
	transform: translate(-50%,-50%);
}
#line02{
    height: 15%;
    width: 3px;
    top:35%;
    left:13%;
    right:0;
    bottom:0;
    background-color:#E62281;
    position: absolute;
}
#line1b{
    height: 3px;
    width: 20%;
    top:17%;
    left:45%;
    right:0;
    bottom:0;
    background-color:#E62281;
    position: absolute;
}
#gender02{   
    animation:gender02 3s;
    -webkit-animation:gender02 3s; 
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes gender02 {
    0% {top:140%;}
    50% {top:140%;}
	to {top:45%;}
}
#line1b{   
    animation:line1b 4s;
    -webkit-animation:line1b 4s; 
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes line1b {
    0% {width: 0%;}
    80% {width: 0%;}
	to {width: 28%;}
}
#children{   
    animation:children 3s;
    -webkit-animation:children 3s; 
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes children {
    0% {opacity: 0;}
	to {opacity:1;}
}
#next{
	width: 20%;
    height: 5%;
    border-radius: 20px;
    border:1px solid white;
    position: absolute;
	left: 85%;
	top: 70%;
	transform: translate(-50%,-50%);
}
#next:hover {
    opacity: 0.3;
} 
#next{   
    animation:next 4s;
    -webkit-animation:next 4s; 
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes next {
    0% {top:120%;}
    70% {top:120%;}
	to {top:90%;}
}
#whyme{
    width:230px;
    height:70px;
    position:absolute;
    left:49%;
    top:67%;
    transform: translate(-50%,-50%);
}
  #begain:hover {
  opacity: 0.3;
} 
#whymegirl{   
    animation:whymegirl 1.2s;
    -webkit-animation:whymegirl 1.2s; 
    -webkit-animation-play-state:paused;
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes whymegirl {
    0% {left:39%;}
	to {left:9%;}
}
#r01{   
    animation:r01 2s;
    -webkit-animation:r01 2s; 
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes r01 {
    0% {opacity: 0;}
    50% {opacity: 0;}
	to {opacity:1;}
}
#chatb{   
    animation:chatb 2s;
    -webkit-animation:chatb 2s; 
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes chatb {
    0% {opacity: 0;}
    50% {opacity: 0;}
	to {opacity:1;}
}
#txt0{
    height:40px;
    width:180px;
    left:49%;
    top:20%;
    text-align: center;
	position: absolute;
    font-family: Arial;
    color:black;
    transform: translate(-50%,-50%);
}

