body {
	overflow:scroll;
    overflow-y:hidden;
    overflow-x:hidden;
} 

#r01{
    width: 250px;
    height: 250px;
	position: absolute;
	left: 35%;
	top: 50%;
    transform: translate(-50%,-50%);
    color: #B4B4B4;
}
#r01:hover {
    width: 400px;
    height: 400px;
} 

#r02{
    width: 500px;
    height: 250px;
	position: absolute;
	left: 63%;
	top: 46%;
    transform: translate(-50%,-50%);
    color: #B4B4B4;
}
#r02:hover {
    width: 800px;
    height: 400px;
} 
#r02:hover ~ #r01 {
    opacity: 0.3;
} 

#txt{
    height:80px;
    width:500px;
    left:50%;
    top:10%;
    text-align: center;
	border-radius: 10px;
	position: absolute;
    font-family: Arial;
    color:black;
    transform: translate(-50%,-50%);
}

