body {
	overflow:scroll;
    overflow-y:hidden;
    overflow-x:hidden;
} 
#block1{
    height: 50%;
    width: 100%;
    background-color: black;
    top:0;
    left:0;
    right:0;
	bottom:0;
	position: absolute;
}
#block2{
    height: 50%;
    width: 100%;
    background-color: black;
    top:50%;
    left:0;
    right:0;
	bottom:0;
	position: absolute;
}
#block1{   
    animation:bl1 1.8s;
    -webkit-animation:bl1 1.8s; 
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes bl1 {
	0% {top:0%;}
	to {top:-40%;}
}
#block2{   
    animation:bl2 1.8s;
    -webkit-animation:bl2 1.8s; 
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes bl2 {
	0% {top:50%;}
	to {top:90%;}
}