body {
	overflow:scroll;
    overflow-y:hidden;
    overflow-x:hidden;
} 
#block{
    height: 100%;
    width: 100%;
    background-color: black;
    top:0;
    left:40%;
    right:0;
	bottom:0;
    position: absolute;
}
#txt1{
    height:150px;
    width:420px;
    text-align: left;
	border-radius: 10px;
	position: absolute;
    font-family: Arial;
    color:black;
}
/* #txt1{   
    animation:txt1 1.2s;
    -webkit-animation:txt1 1.2s; 
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes txt1 {
	0% {top:20%;opacity: 0;}
	to {top:15%;opacity: 1;}
} */
#why{
	width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: black;
    position: absolute;
	left: 19%;
	top: 70%;
	transform: translate(-50%,-50%);
}
#why:hover {
    opacity: 0.3;
} 
#r01{   
    animation:r01 2s;
    -webkit-animation:r01 2s; 
    -webkit-animation-play-state:paused;
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes r01 {
    0% {opacity: 1;}
    50% {opacity: 1;}
	to {opacity: 0.2;}
}
#txt2{   
    animation:txt2 1.2s;
    -webkit-animation:txt2 1.2s; 
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes txt2 {
	0% {top:50%;opacity: 0;}
	to {top:35%;opacity: 1;}
}
#gs{   
    animation:gs 3s;
    -webkit-animation:gs 3s; 
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes gs {
    0% {opacity: 0;}
    50% {opacity: 0;}
	to {opacity: 1;}
}
#lmap{   
    animation:lmap 2s;
    -webkit-animation:lmap 2s; 
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes lmap {
    0% {opacity: 0;}
    50% {opacity: 0;}
	to {opacity: 1;}
}
#txt3{
    height:150px;
    width:420px;
    text-align: left;
	border-radius: 10px;
	position: absolute;
    font-family: Arial;
    color:black;
}
#txt3{   
    animation:txt3 1.2s;
    -webkit-animation:txt3 1.2s; 
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes txt3 {
	0% {top:40%;opacity: 0;}
	to {top:30%;opacity: 1;}
}
#block2{
	text-align: justify;
	background-color:rgba(255, 255, 255, 0.1);
	width: 290px;
    height: 120px;
	position: absolute;
	left: 82%;
    top: 50%;
    font-family: Arial;
    color:white;
	transform: translate(-50%,-50%);
}
#block2{   
    animation:block2 2s;
    -webkit-animation:block2 2s; 
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes block2 {
    0% {left:90%;opacity: 0;}
    50% {left:90%;opacity: 0;}
	to {left:82%;opacity: 1;}
}
#others{
	width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: black;
    position: absolute;
	left: 19%;
	top: 70%;
	transform: translate(-50%,-50%);
}
#others:hover {
    opacity: 0.3;
} 
#block{   
    animation:block 2s;
    -webkit-animation:block 2s; 
    -webkit-animation-play-state:paused;
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes block {
    0% {left:40%;}
	to {left:0%;}
}
#block{   
    animation:block 1.2s;
    -webkit-animation:block 1.2s; 
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes block {
    0% {left:100%;}
	to {left:40%;}
}
#block3{
    height: 100%;
    width: 30%;
    background-color: #131313;
    top:0;
    left:100%;
    right:0;
	bottom:0;
    position: absolute;
}
#block3{   
    animation:block3 1.2s;
    -webkit-animation:block3 1.2s; 
    -webkit-animation-play-state:paused;
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes block3 {
    0% {left:100%;}
	to {left:70%;}
}
#gender01{
	width: 25%;
    height: 90%;
    position: absolute;
	left: 83%;
	top: 50%;
	transform: translate(-50%,-50%);
}
#map{
	width: 100%;
    position: absolute;
	left: 50%;
	top: -4%;
	transform: translate(-50%,-50%);
}
#bcross1{
    height: 100%;
    width: 70%;
    top:0;
    left:0%;
    right:0;
	bottom:0;
    position: absolute;
}
#line1{
    height: 3px;
    width: 10%;
    top:20%;
    left:63%;
    right:0;
    bottom:0;
    background-color:#E62281;
    position: absolute;
}
#line1{   
    animation:line1 4s;
    -webkit-animation:line1 4s; 
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes line1 {
    0% {width: 0%;}
    80% {width: 0%;}
	to {width: 10%;}
}
#map{   
    animation:map 3s;
    -webkit-animation:map 3s; 
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes map {
    0% {opacity: 0;}
    30% {opacity: 0;}
	to {opacity: 1;}
}
#bcross1{   
    animation:bcross1 3s;
    -webkit-animation:bcross1 3s; 
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes bcross1 {
    0% {opacity: 0;}
    30% {opacity: 0;}
	to {opacity: 1;}
}
#result{
    width: 20%;
    height: 5%;
    border-radius: 20px;
    border:1px solid white;
    position: absolute;
	left: 85%;
	top: 70%;
	transform: translate(-50%,-50%);
}
#result:hover {
    opacity: 0.3;
} 
#result{   
    animation:result 5s;
    -webkit-animation:result 5s; 
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes result {
    0% {top:120%;}
    70% {top:120%;}
	to {top:90%;}
}
#children{
	width: 100%;
    position: absolute;
	left: 55%;
	top: 50%;
	transform: translate(-50%,-50%);
}

#gender01{   
    animation:gender01 4s;
    -webkit-animation:gender01 4s; 
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes gender01 {
    0% {top:140%;}
    50% {top:140%;}
	to {top:45%;}
}
#gender01b{
	width: 25%;
    height: 90%;
    position: absolute;
	left: 83%;
	top: 45%;
	transform: translate(-50%,-50%);
}
#gender01b{   
    animation:gender01b 3s;
    -webkit-animation:gender01b 3s; 
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes gender01b {
    0% {top:45%;}
	to {top:-50%;}
}
#gender02{
	width: 25%;
    height: 90%;
    position: absolute;
	left: 83%;
	top: 45%;
	transform: translate(-50%,-50%);
}
#line02{
    height: 15%;
    width: 3px;
    top:35%;
    left:13%;
    right:0;
    bottom:0;
    background-color:#E62281;
    position: absolute;
}
#line1b{
    height: 3px;
    width: 20%;
    top:17%;
    left:45%;
    right:0;
    bottom:0;
    background-color:#E62281;
    position: absolute;
}
#gender02{   
    animation:gender02 3s;
    -webkit-animation:gender02 3s; 
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes gender02 {
    0% {top:140%;}
    50% {top:140%;}
	to {top:45%;}
}
#line1b{   
    animation:line1b 4s;
    -webkit-animation:line1b 4s; 
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes line1b {
    0% {width: 0%;}
    80% {width: 0%;}
	to {width: 28%;}
}
#children{   
    animation:children 3s;
    -webkit-animation:children 3s; 
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes children {
    0% {opacity: 0;}
	to {opacity:1;}
}
#next{
	width: 20%;
    height: 5%;
    border-radius: 20px;
    border:1px solid white;
    position: absolute;
	left: 85%;
	top: 70%;
	transform: translate(-50%,-50%);
}
#next:hover {
    opacity: 0.3;
} 
#next{   
    animation:next 4s;
    -webkit-animation:next 4s; 
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes next {
    0% {top:120%;}
    70% {top:120%;}
	to {top:90%;}
}
#chatb{
	width: 430px;
    height: 120px;
    position: absolute;
	left: 20%;
	top: 20%;
	transform: translate(-50%,-50%);
}
#TXT{
	width: 430px;
    height: 120px;
    position: absolute;
	left: 20%;
	top: 20%;
	transform: translate(-50%,-50%);
}
#whyme{
    width:230px;
    height:70px;
    position:absolute;
    left:49%;
    top:75%;
    transform: translate(-50%,-50%);
}
#begain{
	width: 80px;
    height: 40px;
    border:1px solid black;
    border-radius: 30px;
    position: absolute;
	left: 80%;
	top: 46%;
	transform: translate(-50%,-50%);
}
  #begain:hover {
  opacity: 0.3;
} 
#whymegirl{
    width: 20%;
    height: 50%;
    position:absolute;
    left:49%;
    top:45%;
    transform: translate(-50%,-50%);
}
#whymegirl{   
    animation:whymegirl 1.2s;
    -webkit-animation:whymegirl 1.2s; 
    -webkit-animation-play-state:paused;
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes whymegirl {
    0% {left:49%;}
	to {left:20%;}
}
#r01{   
    animation:r01 2s;
    -webkit-animation:r01 2s; 
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 	
}
@keyframes r01 {
    0% {opacity: 0;}
    50% {opacity: 0;}
	to {opacity:1;}
}

