body {
	overflow:scroll;
    overflow-y:hidden;
    overflow-x:hidden;
} 

#r01{
    width: 250px;
    height: 250px;
	position: absolute;
	left: 18%;
	top: 45%;
    transform: translate(-50%,-50%);
    color: #B4B4B4;
}
#r01:hover {
    width: 400px;
    height: 400px;
} 
/* #r01:hover \ #r02 {
     opacity: 0.3;
}  */

#r02{
    width: 500px;
    height: 250px;
	position: absolute;
	left: 50%;
	top: 40%;
    transform: translate(-50%,-50%);
    color: #B4B4B4;
}
#r02:hover {
    width: 800px;
    height: 400px;
} 
#r02:hover ~ #r01 {
    opacity: 0.3;
} 

#txt{
    height:300px;
    width:1600px;
    text-align: center;
	border-radius: 10px;
	position: absolute;
    font-family: Arial;
    color:black;
}

